.home{
  background:#3a3a3a;
  font-family:sans-serif;
}
.top-liner{
  background:rgba(0,0,0,.5);
  height:3rem;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
}
.logo{
  width: 100%;
  text-align: center;
  background: url(../../assets/images/woodbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  position: relative;
  img{
    width: 20rem;
    margin-top: 22px;
  }
  h4{
    margin-top: -81px;
  font-size: 1rem;
  padding-top: .3rem;
  color: white;
  width: 100%;
  background: rgba(0,0,0,.3);
  }
}

.full-nav{
  display:none;
}
.nav{
  nav{
  position: fixed;
top: -100%;
right: 0;
width: 100%;
list-style: none;
text-decoration: none;
background: rgba(0, 0, 0, 0.9);
font-size: 1rem;
text-align: center;
transition:top .3s ease-in-out;
z-index:2;
}
  .fa{
    position: fixed;
    top: -26px;
    right: -17px;
    color: white;
    font-size: 32px;
    padding: 2rem;
    background: black;
    border-radius: 50%;
    z-index:3;
    border:1px solid white;
  }
  .home{
    padding-top:54px;
    background:transparent;
  }
  .nav-open{
    top:0;
  }
    a{
      color:white;
      text-decoration:none;
    }
    li{
      margin: 1.5rem;
      border-bottom: 1px solid white;
      padding-bottom: 1rem;
    }
  }
