.menu-section{
  position:relative;
  background:  #b60202;
  padding-top:2rem;
  padding-bottom:1rem;
  cursor:pointer;
  border-bottom:2px solid white;
  .title{
    color:white;
    margin:0;
    font-size:1.5rem;
  }
  .open-section{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    background: white;
    padding-bottom: 0;
    li{
      width: 86%;
    margin: 0 auto;
    padding-bottom:1rem;
    border-bottom:1px solid black;
    }
    .name{
      display:inline-block;
      margin-bottom:0;
    }
    .price{
      float:right;
      margin-right:1rem;
    }
    p{
      font-size:.8rem;
    }
  }
}
.selected{
  text-decoration:line-through;
}
form{
  label{
    display:block;
    margin-bottom:7px;
  }
}
.add{
  background: green;
border: none;
color: white;
padding: 7px;
width: 122px
}
.menu-photo{
  width: 83%;
    display: block;
    margin: 0 auto;
}
